@layer base {
    * {
        @apply box-border;
    }

    html {
        font-size: var(--sl-font-size-root);
    }

    body {
        @apply m-0 min-h-screen overflow-x-hidden bg-background text-txt;
        font-family: var(--sl-font-sans);
        line-height: var(--sl-leading-body);
    }
    
    a {
        @apply text-inherit no-underline;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }
    
    img {
        @apply block max-w-full h-auto;
    }

    html *::-webkit-scrollbar {
        border-radius: 0;
        width: 2px;
        height: 0;
        visibility: hidden;
    }

}
